In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
#Answer 1

In [13]:
site= requests.get('https://en.wikipedia.org/wiki/Main_Page')
site
x = BeautifulSoup (site.content)
x
header = []
for i in x.find_all('span',class_="mw-headline"):
    header.append(i.text)
header
df= pd.DataFrame({'Header': header})
df

                          Header
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [8]:
#Answer 2

In [12]:
site4=requests.get('https://presidentofindia.nic.in/former-presidents')
site4
A=BeautifulSoup(site4.content)
A
Name= []
for i in A.find_all('div', class_="desc-sec"):
    Name.append(i.text)
Name
df=pd.DataFrame({'Name of President': Name})
df

                                    Name of President
0   \nShri Ram Nath Kovind\n14th President of India\n
1   \nShri Pranab Mukherjee\n13th President of Ind...
2   \nSmt Pratibha Devisingh Patil\n12th President...
3   \nDR. A.P.J. Abdul Kalam\n11th President of In...
4   \nShri K. R. Narayanan\n10th President of India\n
5   \nDr Shankar Dayal Sharma\n9th  President of I...
6     \nShri R Venkataraman\n8th President of India\n
7        \nGiani Zail Singh\n7th President of India\n
8   \nShri Neelam Sanjiva Reddy\n6th President of ...
9   \nDr. Fakhruddin Ali Ahmed\n5th President of I...
10  \nShri Varahagiri Venkata Giri\n4th President ...
11       \nDr. Zakir Husain\n3rd President of India\n
12  \nDr. Sarvepalli Radhakrishnan\n2nd President ...
13    \nDr. Rajendra Prasad\n1st President of India\n

In [14]:
#Answer 3

In [17]:
def cricket(url):
    response = requests.get(url)
    if response.status_code == 200:
        A = BeautifulSoup(response.text, 'html.parser')
        names = []
        teams = []
        ratings = []
        data = A.find('div', {'class': 'rankings-block__container'})
        table = data.find_all('tr')
        for i in table[1:11]:  
            y = i.find_all('td')
            name = y[1].text.strip()
            team = y[2].text.strip()
            rating = y[3].text.strip()
            names.append(name)
            teams.append(team)
            ratings.append(rating)
        df = pd.DataFrame({'Name': names, 'Team': teams, 'Rating': ratings})
        return df
teams_url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
batsmen_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
bowlers_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
odi_teams_df = scrape_cricket_rankings(teams_url)
odi_batsmen_df = scrape_cricket_rankings(batsmen_url)
odi_bowlers_df = scrape_cricket_rankings(bowlers_url)
print("Top 10 ODI Men's Teams:")
print(top_10_odi_teams_df)
print("\nTop 10 Men's ODI Batsmen:")
print(top_10_odi_batsmen_df)
print("\nTop 10 Men's ODI Bowlers:")
print(top_10_odi_bowlers_df)

Top 10 ODI Men's Teams:
               Name Team Rating
0    Australia\nAUS   27  3,112
1     Pakistan\nPAK   27  3,102
2        India\nIND   40  4,558
3      England\nENG   28  2,942
4  South Africa\nSA   23  2,386
5   New Zealand\nNZ   31  3,110
6   Bangladesh\nBAN   33  3,107
7     Sri Lanka\nSL   37  3,448
8  Afghanistan\nAFG   21  1,687
9   West Indies\nWI   38  2,582

Top 10 Men's ODI Batsmen:
                    Name Team Rating
0             Babar Azam  PAK    863
1           Shubman Gill  IND    759
2  Rassie van der Dussen   SA    745
3           David Warner  AUS    739
4            Imam-ul-Haq  PAK    735
5           Harry Tector  IRE    726
6        Quinton de Kock   SA    721
7            Virat Kohli  IND    715
8           Rohit Sharma  IND    707
9           Fakhar Zaman  PAK    705

Top 10 Men's ODI Bowlers:
               Name Team Rating
0    Josh Hazlewood  AUS    692
1    Mitchell Starc  AUS    666
2       Trent Boult   NZ    666
3        Adam Zampa  AUS    663
4        Matt Henry   NZ    658
5  Mujeeb Ur Rahman  AFG    657
6     Kuldeep Yadav  IND    656
7       Rashid Khan  AFG    655
8    Mohammed Siraj  IND    643
9    Shaheen Afridi  PAK    635

In [18]:
#Answr 4

In [21]:
def cricket(url):
    response = requests.get(url)
    if response.status_code == 200:
        B = BeautifulSoup(response.text, 'html.parser')
        names = []
        teams = []
        ratings = []
        data = B.find('div', {'class': 'rankings-block__container'})
        table = data.find_all('tr')
        for i in table[1:11]: 
            X = i.find_all('td')
            name = X[1].text.strip()
            team = X[2].text.strip()
            rating = X[3].text.strip()
            names.append(name)
            teams.append(team)
            ratings.append(rating)
        df = pd.DataFrame({'Name': names, 'Team': teams, 'Rating': ratings})
        return df
teams_url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
batting_players_url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
allrounders_url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
odi_teams_df = scrape_cricket_rankings(teams_url)
odi_batting_players_df = scrape_cricket_rankings(batting_players_url)
odi_allrounders_df = scrape_cricket_rankings(allrounders_url)
print("Top 10 ODI Women's Teams:")
print(top_10_odi_teams_df)
print("\nTop 10 Women's ODI Batting Players:")
print(top_10_odi_batting_players_df)
print("\nTop 10 Women's ODI All-rounders:")
print(top_10_odi_allrounders_df)

Top 10 ODI Women's Teams:
               Name Team Rating
0    Australia\nAUS   26  4,290
1      England\nENG   31  3,875
2  South Africa\nSA   26  3,098
3        India\nIND   30  3,039
4   New Zealand\nNZ   28  2,688
5   West Indies\nWI   29  2,743
6   Bangladesh\nBAN   17  1,284
7     Sri Lanka\nSL   12    820
8     Thailand\nTHA   13    883
9     Pakistan\nPAK   27  1,678

Top 10 Women's ODI Batting Players:
                   Name Team Rating
0  Natalie Sciver-Brunt  ENG    801
1           Beth Mooney  AUS    751
2   Chamari Athapaththu   SL    743
3       Laura Wolvaardt   SA    708
4       Smriti Mandhana  IND    708
5          Alyssa Healy  AUS    702
6      Harmanpreet Kaur  IND    694
7          Ellyse Perry  AUS    686
8           Meg Lanning  AUS    682
9       Stafanie Taylor   WI    618

Top 10 Women's ODI All-rounders:
                   Name Team Rating
0  Natalie Sciver-Brunt  ENG    398
1      Ashleigh Gardner  AUS    389
2       Hayley Matthews   WI    382
3        Marizanne Kapp   SA    362
4          Ellyse Perry  AUS    329
5           Amelia Kerr   NZ    328
6         Deepti Sharma  IND    312
7         Jess Jonassen  AUS    241
8         Sophie Devine   NZ    233
9              Nida Dar  PAK    217

In [22]:
#Answer 5

In [24]:
site3= requests.get('https://www.cnbc.com/world/?region=world')
site3
a=BeautifulSoup(site3.content)
a
headline= []
for i in a.find_all('a' ,class_="LatestNews-headline"):
    headline.append(i.text)
headline
time= []
for i in a.find_all('span' ,class_="LatestNews-wrapper"):
    time.append(i.text)
time
urls=[]
for i in a.find_all('a'):
    urls.append(i.get('href'))
urls
df=pd.DataFrame([headline, time,urls])
df.T

,0,1,2
0,"These are the top 10 states for young workers,...",9 Min Ago,#MainContent
1,Why health insurance is poised to make inflati...,39 Min Ago,//www.cnbc.com/world/
2,Hollywood pays a steep price for never really ...,1 Hour Ago,/
3,"Disney asset sales won't break the bank, but t...",1 Hour Ago,/markets/
4,It’s been one year since the Ethereum merge. H...,1 Hour Ago,/pre-markets/
...,...,...,...
483,None,None,https://www.nbcuniversal.com/privacy/californi...
484,None,None,https://www.nbcuniversal.com/terms
485,None,None,https://www.nbcuniversal.com
486,None,None,/market-data-terms-of-service/
487,None,None,//www.cnbc.com/market-data-terms-of-service/

In [26]:
#Answer 6

In [29]:
site1= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
site1
y= BeautifulSoup(site1.content)
y
paper = []
for i in y.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper.append(i.text)
paper
author = []
for i in y.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)
author
date = []
for i in y.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)
date
urls=[]
for i in y.find_all('a'):
    urls.append(i.get('href'))
urls
df=pd.DataFrame([paper, author,date,urls])
df.T

,0,1,2,3
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,#skip-to-content-anchor
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,http://www.elsevier.com
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://account.elsevier.com/auth
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://elsevier.com/about
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.elsevier.com/connect
...,...,...,...,...
97,None,None,None,//www.elsevier.com/legal/elsevier-website-term...
98,None,None,None,//www.elsevier.com/legal/privacy-policy
99,None,None,None,//www.elsevier.com/legal/cookienotice
100,None,None,None,//www.elsevier.com/sitemap
101,None,None,None,https://www.relx.com/

In [31]:
#Anser 7

In [32]:
site2= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
site2
z= BeautifulSoup(site2.content)
z
name=[]
for i in z.find_all('a', class_="restnt-name ellipsis"):
    name.append(i.text)
name
location=[]
for i in z.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)
location
rating=[]
for i in z.find_all('div', class_="restnt-rating rating-4"):
    rating.append(i.text)
rating
urls=[]
for i in z.find_all('a'):
    urls.append(i.get('href'))
urls
df=pd.DataFrame([name, location,rating,urls])
df.T

,0,1,2,3
0,Castle Barbeque,"Connaught Place, Central Delhi",4,/delhi
1,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...",4.3,javascript:void(0)
2,Castle's Barbeque,"Pacific Mall,Tagore Garden, West Delhi",3.9,javascript:void(0);
3,India Grill,"Hilton Garden Inn,Saket, South Delhi",3.9,/
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida",3.9,/delhi-restaurants
...,...,...,...,...
125,None,None,None,None
126,None,None,None,None
127,None,None,None,None
128,None,None,None,None
129,None,None,None,javascript:void(0)